# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [ ]:
var_1 = 255
var_2 = 255
id(var_1), id(var_2)

(10758984, 10758984)

Об'єкти рівні за значеннями а також посилаються на однаковий об'єкт в пам'яті. Це пов'язано з тим, що число підпадає в діапазон найбільш використовуваних чисел, до того ж це незмінний тип даних

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [ ]:
isinstance(True, bool)

True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [ ]:
i_var = 56
f_var = 8.5

a_res = i_var + f_var
m_res = i_var - f_var
d_res = i_var/f_var
mu_res = i_var * f_var
dw_res = i_var // f_var
dm_res = i_var % f_var
s_res = f_var ** i_var

a_res, m_res, d_res, mu_res, dw_res, dm_res, s_res

(64.5, 47.5, 6.588235294117647, 476.0, 6.0, 5.0, 1.1154749965823556e+52)

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [ ]:
print(int(f_var))

b_var = True
print(int(b_var))

8
1

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [ ]:
e_str = ""
em_str = str()

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.
---

In [4]:
a_str = "Подвір'ям ходив індик"
a_r_str = r"Подвір'ям ходив індик"
print(a_str)
print(a_r_str)

Подвір'ям ходив індик
Подвір'ям ходив індик

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [6]:
sur = "Tyvoniak"
f_str = f"My surname is {sur}"
f_str

'My surname is Tyvoniak'

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [11]:
my_str = "My dog is crazy"
my_n_str = my_str.lower()
my_list = my_n_str.split()
my_list

['my', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [12]:
list_1 = [1, 5, "python"]
list_2 = list((4, 3, 9, "true", "optimum"))
len(list_2)

5

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [13]:
l_1 = [1, 3, 5]
l_2 = [7, 9, 11]
l_1.append(l_2)
l_1

[1, 3, 5, [7, 9, 11]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [19]:
listy_listy = [[2, 4, 6], [8, 10, 12], [14, 16, 18]]
listy_listy[2][0]

14

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [23]:
long_list = ["element", True, 34, 78, "ticket", "567", False, None, 56, "-4215577"]
short_list = long_list[2:8]
short_list

[34, 78, 'ticket', '567', False, None]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [28]:
my_tuple = (12,)
my_tuple

(12,)

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

Список - змінний тип даних; кортеж - незмінний, "лише для читання"
І там і там присутня індексація, можливість зберігати різні типи даних, здійснювати функції й перетворення.
З відмінностей звісно ж найсуттєвіше це mutable/immutable. Відрізняються дужками також
Списки використовуються, коли дані потрібно змінювати й ці зміни постійні, аби легше було оновлювати залежні змінні й від цього весь код не поламається
Кортежі гарантують постійність, що дані не будуть легко змінені й від цього важливі дані не постраждають. Кортежі використовуються для більш серйозної роботи.

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [38]:
long_tuple = (1.84, 56.84, 4.74, 25.4, 8.5, 41.7, 95.54, 74.4, 65.01, 5.6, 0.1,)
short_tuple = long_tuple[:11:2]
short_tuple= short_tuple_true[::-1]
short_tuple_true

(0.1, 65.01, 95.54, 8.5, 4.74, 1.84)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [46]:
new_set = set()
new_set.update([21, "World", True])
new_set

{21, True, 'World'}

Так, це змінний тип даних (mutable)

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [50]:
my_list = [1, 1, 2, 67, 67, 8, 9]
my_new_list = set(my_list)
my_new_list

{1, 2, 8, 9, 67}

Бо у множині можуть існувати лише унікальні елементи, тому їх повтори зникли

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [55]:
set_1 = {56, 45, 2, "Hello"}
set_2 = {1, 1.02, 2}
union = set_1.union(set_2)
differ = set_1.difference(set_2)
inter = set_1.intersection(set_2)
sym = set_1.symmetric_difference(set_2)

print(union)
print(differ)
print(inter)
print(sym)

{1, 2, 1.02, 'Hello', 56, 45}
{56, 'Hello', 45}
{2}
{1, 1.02, 45, 'Hello', 56}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [57]:
d = {}
d["Text"] = 46
d[(1, 2)] = "Word"
d[True] = 21
d[120] = 52.10
print(d)

{'Text': 46, (1, 2): 'Word', True: 21, 120: 52.1}

Не може, бо список - змінний, а ключем можуть бути лише незмінні типи

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [62]:
slov = {1: "Word", True: {75.21: {"Wow": 31}}}
slov[True][75.21]["Wow"]

31

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.